.s1
{
    color: blueviolet;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.s2
{
    color: #f41616;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.s3
{
    color: #0000FF;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
}
.s4
{
    color: brown;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
}